<div class="card mat-card">
    <div class="card-titles"></div>
    <h2>Educación</h2>
    <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div>
    <div>
        <!--Si quiero recorrer una lista
            <li *ngFor="let una_variable of miPortfolio">
                <img class="nombre_clase" [src]="nombredeljson">
                <h1>{{nombredeljson}}</h1>
                <p>{{nombredeljson}}</p>
            </li>
        -->
        <span>{{miEducacion.estudio.nombre}}</span>
    </div>
</div>